language: go
go_import_path: github.com/teamnsrg/ethereum-p2p
sudo: false
matrix:
  include:
  - os: linux
    dist: trusty
    sudo: required
    go: 1.7.x
    script:
    - sudo -E apt-get -yq --no-install-suggests --no-install-recommends --force-yes install fuse
    - sudo modprobe fuse
    - sudo chmod 666 /dev/fuse
    - sudo chown root:$USER /etc/fuse.conf
    - go run build/ci.go install
    - go run build/ci.go test -coverage
  - os: linux
    dist: trusty
    sudo: required
    go: 1.8.x
    script:
    - sudo -E apt-get -yq --no-install-suggests --no-install-recommends --force-yes install fuse
    - sudo modprobe fuse
    - sudo chmod 666 /dev/fuse
    - sudo chown root:$USER /etc/fuse.conf
    - go run build/ci.go install
    - go run build/ci.go test -coverage
  - os: linux
    dist: trusty
    sudo: required
    go: 1.9.x
    script:
    - sudo -E apt-get -yq --no-install-suggests --no-install-recommends --force-yes install fuse
    - sudo modprobe fuse
    - sudo chmod 666 /dev/fuse
    - sudo chown root:$USER /etc/fuse.conf
    - go run build/ci.go install
    - go run build/ci.go test -coverage
  - os: linux
    dist: trusty
    sudo: required
    go: "1.10"
    script:
    - sudo -E apt-get -yq --no-install-suggests --no-install-recommends --force-yes install fuse
    - sudo modprobe fuse
    - sudo chmod 666 /dev/fuse
    - sudo chown root:$USER /etc/fuse.conf
    - go run build/ci.go install
    - go run build/ci.go test -coverage
  - os: osx
    go: 1.9.x
    sudo: required
    script:
    - brew update
    - brew install caskroom/cask/brew-cask
    - brew cask install osxfuse
    - go run build/ci.go install
    - go run build/ci.go test -coverage
  - os: linux
    dist: trusty
    sudo: required
    go: "1.10"
    env:
    - lint
    script:
    - sudo -E apt-get -yq --no-install-suggests --no-install-recommends --force-yes install fuse
    - sudo modprobe fuse
    - sudo chmod 666 /dev/fuse
    - sudo chown root:$USER /etc/fuse.conf
    - go run build/ci.go lint
install:
- go get golang.org/x/tools/cmd/cover
script:
- go run build/ci.go install
- go run build/ci.go test -coverage
notifications:
  slack:
    rooms:
    - secure: l+fwBLQrE3UL6/iRBpH66g7w3zQJ9HqT7sbSUQenyP9Oi45JmbzwH5zr1TcUCqsoHBGTRnkMbmocjkN7KH7Nj1e8HgyccqGhheGdcW/LFKZKYt0cmyvzH24ygW0U6mEpg2Lpd8rKZAtN3Tfm6lmzERJOw8nsA2wFIAgj+90acAnzwqCQ9Sv25tn4NhubxRFtWvJ/cM7Ym0eVb2qH229rffqSpvC2NpaeBQMCcYrJrQeC4rtR5fP0LD/X0SuDNLJk70MatE3PXI6yBrEI1BiiybccoR6I/re85YaKCSgPvAjzjUs2LOYX86XGhrBR8kUy61gDrCJab4NMBng/ik6ZCudkqBNYN3uZKK7gPb9f1B3tK36ctsYBu5HrUdhKMKfdk5lv4FMqZlB9viMoLnsgUZ97ysTYX3ZEoR5SPdJ4retC8T8QqXyoZB0/UwH1YuThMSI4tWfy5Lczvre2HaDDq3m4HFA4GOu0xZoUVYBXTLncTqV7DiiftaMwruB/ZwjhAoj/WL8MDZzWtdkAs7VmEcg030gmc9zQjhDcE3g7b4yf4Y/HOqtNN/I/CmrUhxMOh3cQ7P32E3eoIFp7ZAooywuQ/3LVljX4tWEHNvv/SBUj/WLDzXi0Y7QYZO577gWYcDQnFpZXlOGEtIvZ9USlvCdLjy6kGQh7nh4henwvIA8= # sprai#ethereum-p2p
    - secure: dMserCwUtaOTdEh4/fpqNUU22UjwsvoH2Bq1mXJriBzbLABqIkZfyVJQHzTJUGLaW3muf4mtcATqZQ2G3QPp7TnOqFiZBJSoQlkNj1+k7pGVWJVU/W/VzsbRD2wdUtERRNUw3BAgvHJ8f1FEKHLc735Mb/QxhN5rmTETtGryGV00DEBKsS89sY2AcSbA0V4PTHFrlce8zGEv2rCjx07WI4oWJQdyV6X6Kv5rupJGVHb6Gz4Z6kIN6EYizJBG0JE/Y8yvb0WkJhhed8CkKS8LdOkIFE4PZyJBN1m5Pl/jTomRxNsOqLz8aVLWpKJVItWCEAsBQhPFziziXy72JN3oarxW2md628tCMMeaHPg6D43ZKOA9BygxkYqkF7xLCpyy+dLer7uZ0z1Ed5MUfXDsglJY4qPKvPY0OC1rW8fB3TaHeC9p17WYyfrEkeOsu/6hr6NypSmEKZfIvX0wb8Cradk93muVW8WSIVxf2N2MEO2PDeowemLhde6cMizq3vegHSaBRMheVBFREHmHpwq6IttL13oIjKvFUVrDh1VbqQcs2pWptDmRX+wfo7g6VQBky+GyYpqyH7PbTPMq9DWsQu0fdjPLJfEga0GZHdBzSA0QBqyXvhbKgilLjcDemp+bVSkrEFdeeqCGBZfKqwe/MggvP/J3ZCw9cXFLQHUWjM8= # teamnsrg#simonsk
    on_success: always # default: always
    on_failure: always # default: always
    on_cancel: always # default: always
    on_error: always # default: always
    on_pull_requests: true
